@CHARSET "UTF-8";

.input_ani {
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input_ani:focus {
    border: 3px solid rgb(143,192,57);
}

.input_ani2 {
   	
    border-bottom: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input_ani2:focus {
    border-bottom: 3px solid #ff0080;
}

.search_ani {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;        
    padding: 12px 10px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search_ani:focus {
    width: 100%;
}
.wrap {
	width: 100%;
}

.body {
	width: 1000px;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 170px;
	float: left;
	border-bottom:3px solid rgb(143,192,57);
	
}

.line-blue{
	width: 100%;
	border-bottom:2px solid rgb(67,170,182);
}

.line-red{
	width: 100%;
	border-bottom:2px solid rgb(255,0,128);
	
}

.margin-top-down{
	margin: 20px 0px 20px 0px;
}

/* 링크에서 밑줄 없애기 */
a {
	text-decoration: none
}
.proto:HOVER{
	
	color: #ff0080;
	font: bold 12px tahoma;
}

.sidebar {
	width: 150px;
	height: 1000px;	
	border: 1px solid black;
	float: right;
}

.content {
	width: 100%;
	height: 1000px;
	margin-top: 20px;
	-background-color: rgb(0, 255, 0);
	float: left;
}

.boardList {
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.front-block {
	width: 45%;
	padding: 5px, 5px, 5px, 5px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.front-block2 {
	width: 100%;
	padding: 5px, 5px, 5px, 5px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.front-border {
	border: 1px solid red;
}

.content {
	font: 12px/1.5 굴림, 돋움;
	color: #000;
}

<!-- 페이지 네비게이션--->
.page_navi {
	margin: 0 auto;
}

.page_navi ul {
	list-style: none;
	float: left;
	display: inline;
}

.page_navi ul li {
	float: left;
}

.page_navi ul li a {
	float: left;
	padding: 4px;
	margin-right: 3px;
	width: 15px;
	color: #000;
	font: bold 12px tahoma;
	border: 1px solid #eee;
	text-align: center;
	text-decoration: none;
}

.page_navi ul li.active a {
	color: #fff;
	border: 1px solid #000;
	background-color: #000;
}

.page_navi ul li a:hover, .page_navi ul li a:focus {
	color: #fff;
	border: 1px solid #000;
	background-color: #000;
}
<!-- 페이지 네비게이션 end--->

<!-- 새로운 상단 네비 start -->
/*gnb*/
.gnb{float:left;width:940px; height:35px;position:relative; margin-bottom: 5px;}
.gnb ul{width:940px;position:relative;list-style-type: none; }
.gnb ul li{float:left;height:42px;margin-right:20px;font-size:17px; line-height:35px; font-weight:600;font-family:Arial, Helvetica, sans-serif;}
.gnb ul li a{color:#898989;}

.gnb ul li a:hover{color:#0072bc;}
.gnb ul li.active a{color:#ff0080;}

.gnb ul li ul{display:none;}
.gnb ul li:hover ul{display:block;}
.gnb ul li:hover ul li{display:block;}
.gnb ul li ul{width:100px;position:absolute;margin-top:5px;z-index:999;}
.gnb ul li ul li{width:100px; height:30px; line-height:30px; text-indent:8px;background:#ebebeb;}
.gnb li ul li a {color:#898989;font-size:15px; font-weight:normal;font-family:"dotum";}
.gnb li ul li a:hover{color:#0072bc;font-weight:bold;}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn:hover {
   background-color:#ff0080;
}

.btn2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:16px 0px 16px 0px;
    cursor: pointer;
}
.btn2:hover {
   background-color:#ff0080;
}


<!-- 새로운 상단네비 end -->


<!-- 테이블 스타일 -->
.bluetop {
  border-collapse: collapse;
  border-top: 2px solid #168;
}  
.bluetop th {
  color: #168;
  background: #f0f6f9;
}
.bluetop th, .bluetop td {
  padding: 5px;
  border: 1px solid #ddd;
}
.bluetop th:first-child, .bluetop td:first-child {
  border-left: 0;
}
.bluetop th:last-child, .bluetop td:last-child {
  border-right: 0;
}

.input_form_large{
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

.graph{
	border: 1px solid #0cc;
}
.clear{
	clear:both;
}
